body,
h2,
h3,
h1,
p,
ul,
li {
    margin: 0;
    padding: 0;
}


@keyframes rotate {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
}
.rotate-animation {
    display: inline-block;
    animation: rotate 2s forwards;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-content {
    text-align: center;
}

.main-heading {
    font-size: 3rem;
    font-weight: bold;
}


.main-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    padding-bottom: 80px;
}
.original-button {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    text-decoration: none;
    color:#f2f5f8;
    font-size: 18px;
    border-radius: 20px;
    width: 200px;
    height: 40px;
    font-weight: bold;
    border-bottom: 5px solid #6a5eb5a6;
    transition: 0.3s;
    background-color: #0202fffa;
    box-shadow: 0 0 10px rgba(202, 12, 208, 0.5);
    font-family: rainyhearts;
}

.original-button:hover {
    border-bottom-width: 10;
    transform: translateY(5px);
    box-shadow: 0 0 60px rgb(206, 11, 206);
}
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    margin-right: 20px;
    margin-left: 20px;
    gap: 20px;
}

.glow-button:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

body {
    background: #000000;
    background: -webkit-linear-gradient(0deg, #000000 0%, #5e9bed 100%);
    background: linear-gradient(0deg, #000000 0%, #5e9bed 100%);
    height: 100%;
    background-attachment: fixed;
}
.App {
    text-align: center;
}

.App img {
    display: block;
    margin: 0 auto;
    justify-content: center;
    margin-top: 15%;
    width: 900px;
    height: auto;
    animation: floatAnimation 3s ease-in-out infinite;
    border-radius: 25px;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.967);

}

@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10%)
    }
    100% {
        transform: translateY(0);
    }
}


