.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Make the list items display horizontally */
}

.nav-links li {
    margin-right: 20px; /* Add some spacing between the list items */
}

.nav-links li:last-child {
    margin-right: 0; /* Remove margin from the last list item */
}

.nav-links li a {
    text-decoration: none;
    color: #00a6ff; /* Adjust link color */
}

.nav-links li a:hover {
    color: #c9c9c966; /* Change link color on hover */
}
.nav-links {
  background-color: #04040587;
  border-radius: 2px;
  width: 100%;

  text-align: center;

}

.nav-links a {
  color: #060206;
  display: inline-block;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
}

.nav-links a:hover {
  color: #090d0e;
}
